html, body {
    height: 100%;
    margin: 0;
}

body {
    background: linear-gradient(135deg, #CCFBFF, #EF96C5);
    font-family: 'Segoe UI', sans-serif;
}

/* card utama */
.app-card {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    padding: 25px;
}

/* header judul */
.app-header {
    margin-bottom: 20px;
}
